@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');
* {font-family: 'Poppins', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family: 'Poppins', sans-serif;}
p {
    font-family: 'Poppins', sans-serif;
}

body{
	overflow: hidden;
}

.inlined{
  display: inline;
}

.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
							supported by Chrome and Opera */
							
	}

.center {
    float: left;
    width: 100%;
    justify-content: center;
    display: flex;
}

.test{
	border: 1px solid #73AD21;
}

.centerw {
  display: inline;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.whitetx {
	
	text-align: center;
    color: white;
	
}

.userDisplay{
	
	font-size: 50px;
	
}

.inlinedp{
	display: inline;
}

.containerx { 
  height: 200px;
  position: relative;
  border: 3px solid green; 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.welcomeDisplay{
	
	font-size: 30px;
	padding-left: 15px;
	
}

.profiledp{
	border-radius:50%;
	width:250px;
	height:250px;
}

.preloaderr{
	width:50px;
	height:50px;
}

/* INTRO */

	.intronly{
		background-color: black;
		width: 100%;
		height:100vh;
		margin: 0 auto;
		display: block;

	}

	.vertical-center {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  
	}

	#introJIE {
	  width: 100%;
	  height: auto;
	}
	
	#backDrop {
	  width: auto;
	  height: 100%;
	}
	
	.pointerPlay {cursor: pointer;}
	
	
	
/* INTRO */

/* background */
	
	.bsection {
	  position: relative;
	  width: 100%;
	  height: auto;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  overflow: hidden;
	}

	.bsection h1 {
	  text-align: center;
	  font-size: 6rem;
	  font-family: "Cookie";
	  padding: 20px;
	  margin: 15px;
	  z-index: -1;
	  opacity: 0.7;
	}

	.bvideo-container {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  
	  z-index: -2;
	}

	.bcolor-overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  background-color: lightblue;
	  width: 100%;
	  height: auto;
	  opacity: 0.1;
	  
	}
	
/* background */


/* header details */

.rightie .headered{
  
   float:right;
}

.headeredstat .rightie{
  
   float:right;
}

.logofx{
	width:auto;
	height: 4.5em;
}

.profiledpx{
	width:auto;
	height: 1.5em;
	border-radius:50%;
	vertical-align:middle;
}

.connectsty{
	width:auto;
	height: 1.5em;
	vertical-align:middle;
}

.preloaderfx{
	width:auto;
	height: 3.5em;
	vertical-align:middle;
}

.headered{
	
	color: white;
	font-size: 45px;
}